.depart-card.materialMovement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.depart-card.materialMovement div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.depart-card.materialMovement div .materialMovement-name {
    font-size: 1.5em;
    font-weight: bold;
}

.depart-card.materialMovement div .materialMovement-type,
.depart-card.materialMovement div .materialMovement-description,
.depart-card.materialMovement div .materialMovement-supplier,
.depart-card.materialMovement div .materialMovement-color {
    font-size: 1.15em;
    word-break: normal;
}

.depart-card.materialMovement div:not(:last-of-type) {
    margin-bottom: 15px;
}

#edit-container {
    margin-bottom: 15px;
}

.depart-card .color-chip {
    padding: 5px;
}

.txt-identifiers {
    font-weight: bold;
}

.depart-card.materialMovement div svg:not(#delete-icon, #edit-icon) {
    margin-right: 15px;
    font-size: x-large;
}
