.depart-card.size {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1.12em;
}

.depart-card.dialog.size {
    height: 70vh;
    overflow-x: hidden;
}

.depart-card.size .special {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.depart-card.size .special h2 {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 7.5px;
}

.depart-card.size div:not(.special) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#edit-container {
    margin-bottom: 15px;
}

.depart-card.size div:not(:last-of-type) {
    margin-bottom: 15px;
}

.depart-card.size div .size-name {
    font-size: 1.5em;
    font-weight: bold;
}

.depart-card.size div .size-color {
    padding: 5px;
    border-radius: 3px;
}

.depart-card.size div svg:not(#delete-icon, #edit-icon) {
    margin-right: 15px;
    font-size: x-large;
}

.txt-identifiers {
    font-weight: bold;
}

.add-new-component-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}