.depart-card.task {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.depart-card.task div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.depart-card.task div .task-phone,
.depart-card.task div .task-location,
.depart-card.task div .task-email {
    font-size: 1.2em;
    word-break: break-all;
}

.depart-card.task div svg:not(#delete-icon, #edit-icon) {
    margin-right: 15px;
    font-size: x-large;
}

.dialog.task {
    width: 350px;
    height: 300px;
}
