.depart-card.task {
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.depart-card.task div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.depart-card.task div .task-name {
    font-size: 1.15em;
    word-break: break-all;
    font-weight: bold;
}

.depart-card.task div span {
    font-size: 1.1em;
}

.depart-card.task div svg:not(#delete-icon, #edit-icon) {
    margin-right: 15px;
    font-size: x-large;
}

.dialog.task {
    width: 350px;
    height: 330px;
}

