.depart-card.textile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.depart-card.textile div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.depart-card.textile div:not(:last-of-type) {
    margin-bottom: 10px;
}

#edit-container {
    margin-bottom: 15px;
}

.depart-card.textile div .textile-type, .depart-card.textile div .textile-composition,
.depart-card.textile div .textile-description {
    font-size: 1.15em;
}

.depart-card.textile div .textile-name {
    font-size: 1.5em;
    font-weight: bold;
}

.depart-card.textile div .textile-color {
    padding: 5px;
    border-radius: 3px;
}

.depart-card.textile div svg:not(#delete-icon, #edit-icon) {
    margin-right: 15px;
    font-size: x-large;
}

.dialog.textile {
    justify-content: space-between;
}

.txt-identifiers {
    font-weight: bold;
}