
.parent-container {
    width: 100%;
    height: 100%;
}

.parent-container .top-ribbon {
    width: 100%;
    height: 63px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
}

.add-depart-btn, .add-user-btn, .add-warehouse-btn, 
.add-supplier-btn, .add-material-btn, .add-materialCategory-btn,
.add-internalOrder-btn, .add-materialMovement-btn,
.add-productCatalogue-btn, .add-categoryI-btn, .add-categoryII-btn,
.add-textile-btn, .add-details-btn {
    width: 100%;
}

.parent-container .top-ribbon .add-btn {
    width: 30%;
}

.parent-container .top-ribbon .add-btn,
.add-depart-btn, .add-user-btn, .add-warehouse-btn,
.add-supplier-btn, .add-material-btn, .add-materialCategory-btn,
.add-internalOrder-btn, .add-materialMovement-btn, 
.add-productCatalogue-btn, .add-categoryI-btn, .add-categoryII-btn,
.add-textile-btn, .add-details-btn {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111827;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    transition: all .25s;
}

.parent-container .top-ribbon .add-btn img {
    height: 100%;
    margin-right: 5px;
}

.parent-container .top-ribbon .add-btn span:not(#not-applied) {
    color: white;
    font-size: 1.2em;
}

.parent-container .top-ribbon .add-btn:hover,
.add-depart-btn:hover, .add-user-btn:hover, 
.add-warehouse-btn:hover, .add-supplier-btn:hover,
.add-material-btn:hover, .add-materialCategory-btn:hover,
.add-internalOrder-btn:hover, .add-materialMovement-btn:hover,
.add-productCatalogue-btn:hover, .add-categoryI-btn:hover,
.add-categoryII-btn:hover, .add-textile-btn:hover, .add-details-btn:hover {
    background-color: #2f384a;
}


.parent-container .top-ribbon .search:not(.search-user) {
    width: 63%;
    height: 100%;
}

.parent-container .top-ribbon .search-user {
    width: 50%;
    height: 100%;
}

.parent-container .top-ribbon .search .MuiInputLabel-outlined,
.parent-container .top-ribbon .search-user .MuiInputLabel-outlined {
    transform: translate(14px, 12px) scale(1); 
}

.parent-container .top-ribbon .search .MuiInputLabel-outlined.MuiInputLabel-shrink,
.parent-container .top-ribbon .search-user .MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(14px, -7px) scale(0.75); 
}

.MuiDialog-container.MuiDialog-scrollPaper.muiltr-1sep8xo-MuiDialog-container {
    overflow-y: auto;
}

.parent-container .main-content {
    width: 100%;
    padding: 15px 40px;
}

.muiltr-7en360-MuiPaper-root-MuiDialog-paper {
    max-width: fit-content;
    max-height: fit-content;
}

.depart-card {
    height:  fit-content;
    padding: 20px;
    border-radius: 9px;
    cursor: pointer;
}

.depart-card.dialog {
    width: 350px;
}

.depart-card .head-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 9px;
}

.depart-card .head-container img {
    width: 37px;
    margin-bottom: 5px;
}

.head-container .category {
    background-color: #80848f;
    color: white;
    border-radius: 3px;
    padding: 3px 7px;
    font-size: .85em;
    margin-bottom: 5px;
}

.depart-card .head-container .name {
    font-size: 1.55em;
    font-weight: bold;
}

.depart-card .body-container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.depart-card .body-container .manager {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
}

.depart-card .body-container .manager span {
    margin-bottom: 4px;
}

.depart-card .body-container img {
    width: 27px;
    margin-right: 5px;
}

.depart-card .body-container .description {
    width: 100%;
    text-align: center;
    font-size: 1.1em;
}

.highlight {
    background-color: yellow;
}

.add-depart-container {
    width: 300px;
    height: fit-content;
}

.add-depart-container #depart-name, 
.add-depart-container #manager-label,
.add-depart-container #manager-name {
    margin-bottom: 20px;
}

#edit-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

#delete-icon {
    cursor: pointer;
    color: rgb(225, 63, 63);
    transition: all .2s;
    font-size: 30px;
    border-radius: 4px;
    padding: 5px;
}

#material-reports {
    cursor: pointer;
    color: #111827;
    transition: all .25s;
    border-radius: 4px;
    padding: 5px;
    font-size: 29px;
}

#edit-icon {
    cursor: pointer;
    font-size: 30px;
    color: #111827;
    transition: all .25s;
    border-radius: 4px;
    padding: 5px;
}

#edit-icon:hover, #material-reports:hover {
    background-color: #d1d7e3;
}

#delete-icon:hover {
    background-color: rgb(225, 218, 218);
}

.delete-box p {
    font-size: 1.2em;
    margin-bottom: 8px;
}

.button-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 12px;
    cursor: pointer;
    font-weight: bold;
    background-color: #111827;
    transition: background-color 0.3s, transform 0.2s;
    color: white;
}

.button-container .yes-button {
    margin-right: 15px;
}

.button-container .yes-button:hover {
    background-color: #47c049; 
}

.button-container .no-button:hover {
    background-color: #f44336;
}