.depart-card.size {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.depart-card.size div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.depart-card.size div .size-name {
    font-size: 1.5em;
    font-weight: bold;
}

#edit-container {
    margin-bottom: 15px;
}

.depart-card.size div:not(:last-of-type) {
    margin-bottom: 15px;
}

.depart-card.size div .size-color {
    padding: 5px;
    border-radius: 3px;
}

.depart-card.size div svg:not(#delete-icon, #edit-icon) {
    margin-right: 15px;
    font-size: x-large;
}

.txt-identifiers {
    font-weight: bold;
}