.season-card {
    border-radius: 9px;
    cursor: pointer;
    padding: 5px 20px 20px 20px;
}

.season-card div:not(#edit-container),
.dialog div:not(#edit-container) {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.season-card div span:not(#not-applied),
.season-card .dialog div span:not(#not-applied) {
    font-size: 1.2em;
    margin-left: 7px;
}

.txt-identifier {
    font-weight: bold;
}

.dialog {
    padding: 20px
}

.season-card .season span:not(#not-applied),
.season span:not(#not-applied) {
    font-size: 1.5em;
    font-weight: bold;
}