.depart-card.categoryI {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.depart-card.categoryI div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.depart-card.categoryI div:not(:last-of-type) {
    margin-bottom: 10px;
}

#edit-container {
    margin-bottom: 15px;
}

.depart-card.categoryI div .categoryI-name {
    font-size: 1.5em;
    font-weight: bold;
}

.depart-card.categoryI div .categoryI-color {
    padding: 5px;
    border-radius: 3px;
}

.depart-card.categoryI div svg:not(#delete-icon, #edit-icon) {
    margin-right: 15px;
    font-size: x-large;
}

.dialog.categoryI {
    justify-content: space-between;
}

#chip-priority {
    padding: 3px 6px;
    font-weight: bold;
}

.txt-identifiers {
    font-weight: bold;
}