.depart-card.internalOrder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.depart-card.internalOrder div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.depart-card.internalOrder div .internalOrder-name {
    font-size: 1.5em;
    font-weight: bold;
}

#edit-container {
    margin-bottom: 17px;
}

.depart-card.internalOrder div .internalOrder-expected-delivery,
.depart-card.internalOrder div .internalOrder-status,
.depart-card.internalOrder div .internalOrder-material,
.depart-card.internalOrder div .internalOrder-specifics,
.depart-card.internalOrder div .internalOrder-notes {
    font-size: 1.15em;
    word-break:normal;
}

.depart-card.internalOrder div:not(:last-of-type) {
    margin-bottom: 15px;
}

.depart-card.internalOrder div .internalOrder-color {
    padding: 5px;
    border-radius: 3px;
}

.depart-card.internalOrder div svg:not(#delete-icon, #edit-icon) {
    margin-right: 15px;
    font-size: x-large;
}

#chip-priority {
    padding: 3px 6px;
    font-weight: bold;
}

.txt-identifiers {
    font-weight: bold;
}