.depart-card.materialCategory {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.depart-card.materialCategory div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.depart-card.materialCategory div:not(:last-of-type) {
    margin-bottom: 15px;
}

#edit-container {
    margin-bottom: 15px;
}

.depart-card.materialCategory div .materialCategory-name {
    font-size: 1.5em;
    font-weight: bold;
}

.depart-card.materialCategory div .materialCategory-description {
    font-size: 1.15em;
}

.depart-card.materialCategory div .materialCategory-type {
    font-size: 1.15em;
    word-break: normal;
}

.depart-card.materialCategory div svg:not(#delete-icon, #edit-icon) {
    margin-right: 15px;
    font-size: x-large;
}

.dialog.materialCategory {
    justify-content: space-between;
}
